<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow-effect bg-secondary-theme">
        <div class="card-body text-center">
          <h3 class="text-theme-primary">All Subscribers</h3>
          <p>Manage all subscribers here</p>

          <button class="btn btn-info bg-theme" routerLink="/">
            Back to Dashboard
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="card shadow-effect">
        <div class="card-body">
          <table class="table row-border-hover table-striped">
            <thead>
              <tr>
                <th>S. No</th>
                <th>Name</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let subscriber of subscribersArray;let i=index">
                <td width="10">+{{i+1}}</td>
                <td width="200">{{subscriber.data.name}}</td>
                <td width="200">{{subscriber.data.email}}</td>

                <td>
                  <button class="btn-danger ml-2">!DELETE!</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
