create 

environment.development.ts

export const environment = {
  production: true,
  firebaseConfig: {
    apiKey: 'AIzaSyAC80VeXJ_1UczAyjlxo1GIL_wdc1ZaK7Y',
    authDomain: 'vin-vue-re.firebaseapp.com',
    projectId: 'vin-vue-re',
    storageBucket: 'vin-vue-re.appspot.com',
    messagingSenderId: '266536864468',
    appId: '1:266536864468:web:28b5244c55ba4284300941',
    measurementId: 'G-RE031D6QCY',
  },
};


then, call  after importing in app.module.ts
import {environment} from '...'
under imports:
AngularFireModule.initializeApp(environment.firebaseConfig),