<div class="card mt-5 shadow-effect mb-5">
  <div class="card-body">
    <h4>Leave a comment</h4>
    <p>leave a comment on this form below!</p>

    <form>
      <div class="form-group">
        <label for="">Name</label>
        <input type="text" class="text form-control" placeholder="Enter" />
      </div>

      <div class="form-group">
        <label for=""></label>
        <textarea
          name=""
          id=""
          cols="50"
          rows="10"
          placeholder="Enter you comment here!"
        ></textarea>
      </div>

      <button class="btn btn-info">Add Comment!</button>
    </form>
  </div>
</div>
