<div
  class="card mb-3 mt-3 pb-3 shadow-sm p-3 mb-5 shadow-lg p-3 mb-5 bg-white rounded"
>
  <div class="card-body">
    <h4 class="mt-1 mb-1">comments (23)</h4>

    <div class="comment-box mt-5">
      <h5 class="mb-0">Aniruddh</h5>
      <small class="text-danger">last updated-xyz-2023</small>
      <div class="mt-3 mb-3">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea voluptatum
        dolore excepturi minus, corrupti accusantium adipisci soluta illum
        placeat rem, praesentium consectetur eligendi harum. Perspiciatis eum
        cum temporibus praesentium nesciunt.
      </div>
      <a href="" class="mt-1 mr-3">Reply</a>
      <a href="" class="mt-1">View Replies</a>
    </div>
  </div>
</div>
