<section class="mt-5" id="aboutme">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <div class="subcontainer p-5 mt-4 bg-secondary-theme">
      <h1 class="header text-black text-center mb-5">About me,and this site</h1>
      <hr />
      <p class="text-justify">
        I've always loved writing and listening to music. For as long back as my
        memory serves me correctly, I’ve had a passion for music of all types. I
        vividly recall my father playing old rock tunes on his first phone, a
        Sony Ericsson. It had songs from the likes of INXS, Dire Straits, Bon
        Jovi, Creed, and so many more, and I'd jump with joy as a toddler on
        hearing any of those tunes. Perhaps it was exactly this that sparked in
        me very early on a passion for music and tunes. By the time I was in 5th
        grade, I was into electronic music, and even dabbled in creating my own
        tunes by the 8th grade. Music was always a mainstay in the house. From
        my dad spinning up the music system every morning to listen to classic
        cuts, or me blasting bass-laced music and causing trouble for my
        neighbors, there never was a quiet moment within the four walls.
      </p>
      <p class="text-justify">
        At school, we were taught how to write under very stringent standards.
        We were memorizing and using new vocabulary every week and were
        preparing to write the revered yet haunting CIE A-level English exams. I
        wrote well in very rare circumstances; when I genuinely loved what I was
        writing about or when I was arguing online. It was around the 11th grade
        when I finally began listening to more genres of music and experimenting
        with the old and new. Then came the day that perhaps changed everything;
        the day I made a fairly humble yet impactful purchase of a Spotify
        Premium membership. I started playing music literally whenever I had the
        time. During class, in the bathroom, before AND while sleeping, while
        doing my assignments, you get the point. I had dived nose-deep into the
        world of new music and there was no coming back. The Clipse, Deadmau5,
        Amit Trivedi, Black Sabbath, AR Rahman, Curtis Mayfield were some of the
        regular rotations with countless others. Then I started listening to
        reviews online and developing a keen passion to expand my vocabulary.
        Now it was not an effective plan to go around telling people that I
        loved and adored music; millions did that. So, I put 2 and 2 together
        and thought of combining writing, music, and some technological
        knowledge I had to publish a writing site of my own. It’s not been very
        long since I started reviewing music. In fact, June of this very year
        was when I wrote my first review in my hostel room. But I know for sure
        it's something I definitely wish to continue doing. With that in mind, I
        launched this website that will hopefully serve as an effective medium
        to help me carry this purpose forward. I hope you all will enjoy it too.
      </p>

      <div class="text-center"></div>
    </div>
  </div>
</section>
<hr />
